%nav{ :class => "navbar navbar-expand-lg navbar-light bg-light" }
	%a{ :class => "navbar-brand", :href => "#", :title => "DocShare" }
	%button{ :class => "navbar-toggler", :type => "button", :data-toggle => "collapse", :data-target => "#navbarNav", :aria-controls => "navbarNav", :aria-expanded => "false", :aria-label => "Toggle navigation" }
		%span{ :class => "navbar-toggler-icon" }
	%div{ :class => "collapse navbar-collapse", id: "navbarNav" }
		%ul{ :class => "navbar-nav" }
			%li{ :class => "nav-item active" }
				%a{ :class => "nav-link", :href => pages_home_path, :title => "Home" }
			%li{ :class => "nav-item" }
				%a{ :class => "nav-link", :href => pages_about_path, :title => "About" }
			%li{ :class => "nav-item" }
				%a{ :class => "nav-link", :href => blogs_path, :title => "Blogs" }

			- if current_user
				%li{ :class => "nav-item" }
					%a{ :class => "nav-link", :href => new_blog_path, :title => "New Blog" }
				%li{ :class => "nav-item" }
					%a{ :class => "nav-link", :href => destroy_user_session_path, :title => "Logout" }
			- else
				%li{ :class => "nav-item" }
					%a{ :class => "nav-link", :href => new_user_session_path, :title => "Login" }
				%li{ :class => "nav-item" }
					%a{ :class => "nav-link", :href => new_user_registration_path, :title => "Sign up" } 