%nav{ :class => "navbar navbar-expand-lg navbar-light bg-light" }
	%button.navbar-brand.btn.btn-primary{ :type => "button", :href => root_path } DocShare
	%button{ :class => "navbar-toggler", :type => "button", :data-toggle => "collapse", :data-target => "#navbarNav", :aria-controls => "navbarNav", :aria-expanded => "false", :aria-label => "Toggle navigation" }
		%span{ :class => "navbar-toggler-icon" }
	%div{ :class => "collapse navbar-collapse", id: "navbarNav" }
		%ul{ :class => "navbar-nav" }
			%li{ :class => "nav-item active" }
				%a{ :class => "nav-link", :href => pages_home_path } Home
			%li{ :class => "nav-item" }
				%a{ :class => "nav-link", :href => pages_about_path } About
			%li{ :class => "nav-item" }
				%a{ :class => "nav-link", :href => blogs_path } Blogs

			- if current_user
				%li{ :class => "nav-item" }
					%a{ :class => "nav-link", :href => new_blog_path } New Blog
				%li{ :class => "nav-item" }
					%a{ :class => "nav-link", :href => destroy_user_session_path } Logout
			- else
				%li{ :class => "nav-item" }
					%a{ :class => "nav-link", :href => new_user_session_path } Login
				%li{ :class => "nav-item" }
					%a{ :class => "nav-link", :href => new_user_registration_path } Sign up